html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-medium);
  font-weight: var(--sl-font-weight-normal);
  letter-spacing: var(--sl-letter-spacing-normal);
  color: var(--sl-color-gray-800);
  line-height: var(--sl-line-height-normal);
  padding: 20px;
}

a {
  color: var(--sl-color-primary-500);
}

strong {
  font-weight: var(--sl-font-weight-bold);
}

.card-overview  {
  width: 300px;
  height: 420px;
  padding-right: 10px;
}

.card-overview small {
  color: var(--sl-color-gray-500);
}

.card-overview .title {
  min-height: 70px;
  font-size: var(--sl-font-size-large);
  color: var(--sl-color-primary-600);
}

#filter {
    max-width: 300px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {

}


@media screen and (max-width: 1040px) {
 
}
/* Styling for the select dropdown */
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  background-color: #f7f7f7;
  color: #333;
}

/* Styling for the select dropdown when hovered */
select:hover {
  border-color: #aaa;
}

/* Styling for the select dropdown when focused */
select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

/* Styling for the select dropdown options */
option {
  padding: 8px;
  background-color: #f7f7f7;
  color: #333;
}
